.footer__email {
  border: 1px solid rgba(199, 199, 199, 0.5);
  background: transparent;
  padding: 9px 0 11px 20px;
  border-radius: 4px;
  width: 338px;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
}

@media screen and ( max-width: 500px ) {
  .footer__email {
    width: 90%;
  }
}
