.bikes__title {
  margin: 73px 0 0 0;
  padding: 0;
  max-width: 320px;
  font-weight: 900;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: 0.5px;
}

@media screen and ( max-width: 700px ) {
  .bikes__title {
    font-size: 32px;
    line-height: 40px;
  }
}
@media screen and ( max-width: 420px ) {
  .bikes__title {
    margin-top: 19px;
    letter-spacing: -0.8px;
  }
}
