// кнопки
$butColor: rgba(36, 180, 126, 1);
$butColorActive: rgba(49, 158, 117, 1);

// текст
$textColor: rgba(34, 34, 34, 1);
$headingColor: rgba(21, 21, 21, 1);

// ссылки
$link:  rgba(34, 34, 34, 1);
$linkActive: rgba(21, 21, 21, 1);

// фоны
$pageBg: rgba(244, 244, 244, 1);
$footerBg: rgba(239, 239, 239, 1);
$itemBg: #fff;

$shadowColor: rgba(0, 0, 0, 0.44);

