.bikes {
  padding: 54px 120px;
  position: relative;
}

@media screen and ( max-width: 1025px ) {
  .bikes {
    padding: 60px 60px 100px;
  }
}

@media screen and ( max-width: 900px ) {
  .bikes {
    border-bottom: 1px solid #E3E3E3;
    // flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and ( max-width: 600px ) {
  .bikes {
    padding: 20px 18px 80px;
  }
}


