.info {
  padding: 0 0 60px 120px;
  display: grid;
  grid-template-columns: 420px 1fr 610px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "infoTitle stiky infoImage"
  "infoDesc stiky infoImage"
  "infoBtn stiky infoImage"
  "infoBike stiky infoImage";
  box-sizing: border-box;
}

@media screen and ( max-width: 1025px ) {
  .info {
    padding-left: 60px;
    overflow: hidden;
  }
}

@media screen and ( max-width: 900px ) {
  .info {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    grid-template-columns: 1fr max-content;
    grid-template-rows: repeat(4, max-content);
    grid-template-areas:
    "infoTitle infoTitle"
    "stiky infoImage"
    "infoDesc infoDesc"
    "infoBtn infoBtn";
    border-bottom: 1px solid #E3E3E3;
  }
}

@media screen and ( max-width: 800px ) {
  .info {
    grid-template-columns: 1fr 80%;
  }
}

@media screen and ( max-width: 400px ) {
  .info {
    grid-template-columns: 1fr 85%;
  }
}
